.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.contactForm p {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contactForm input {
  height: 2rem;
}

.contactForm textarea {
  height: 4rem;
}

.contactForm button {
  width: 40%;
  height: 2rem;
  color: #fff;
  background-color: #000;
  transition: all 0.5s;
}

.contactForm button:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .contactForm p {
    width: 100%;
  }
}
