.gameCarousel {
  display: flex;
  margin-bottom: 3rem;
}

.gameCard {
  height: 600px;
}

.gameCard:focus,
.gameCard:focus-within,
.gameCard:visited,
.gameCard:active {
  outline: none !important;
}

#gc1 {
  animation: moveCard 0.8s ease;
}
#gc2 {
  animation: moveCard 1s ease;
}
#gc3 {
  animation: moveCard 1.1s ease;
}
#gc4 {
  animation: moveCard 1.2s ease;
}
#gc5 {
  animation: moveCard 1.3s ease;
}
#gc6 {
  animation: moveCard 1.4s ease;
}

@keyframes moveCard {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 800px) {
  .gameCarousel {
    height: 300px;
    font-weight: 200;
    font-size: 10px;
  }
}
