.container {
  padding: 3rem;
  max-width: 1920px;
  margin: 0 auto;
}

.container header {
  display: flex;
  justify-content: flex-end;
}

.main {
  margin: 0 5%;
}

.infoCards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10rem;
}

.joinButton {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

.subHeading {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}

.miniReviews {
  display: flex;
  justify-content: space-around;
  margin: 0 2rem;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 800px) {
  .infoCards {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .subHeading {
    font-size: 16px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
